*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.body{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

a{
    text-decoration: none;
}

.part1{
    background: linear-gradient(rgba(255, 210, 189, 0.89), rgba(255, 210, 189, 0.89), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
}

.navbar{
    height : 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px 50px 30px 30px;
}

.navbar .logo img{
    height : 120px;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor : pointer;
}


.nav{
    width : 800px;
    align-self: right;
    display: flex;
    justify-content: flex-end;
    gap : 15%;
    align-items: center;
    font-size : 16px;
    transition : all 0.3s ease;
}

.nav a{
    color : black;
    text-decoration: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 2pt solid #ffffff00;
    transition : all 0.3s ease;
}

.nav a:hover{
    border: 2pt solid #ffffff;
    box-shadow: 0 0 2em #ffffff2b;
}

.nav .learn{
    color : white;
    border: 2pt solid transparent;
    background: linear-gradient(#FF9B84, #FF9B84) padding-box,
    linear-gradient(#FFCB8D, #EB4747) border-box;
    border-radius: 40px;
    padding : 10px 40px;
    transition : all 0.3s ease;
}

.nav .learn:hover{
    transition : all 0.3s ease;
    border: 2pt solid transparent;
    filter : drop-shadow(0px 0px 4px #FFCB8D) drop-shadow(0px 0px 4px #FFCB8D) drop-shadow(0px 0px 4px #FFCB8D);
}

.burger{
    cursor : pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index : 4;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    width: 179px;
    height: 200px;
    position: absolute;
    right : 50px;
    top : 100px;
    z-index : 4;
    display : flex;
    flex-direction: column;
    gap : 20px;
  }
  
  .popup .tabs{
    
    display : flex;
    justify-content: flex-start;
    align-items: center;
    width : 100%;
    gap : 15px;
  }

  .popup .tabs:hover{
    cursor : pointer;
    text-decoration : underline;
  }

  .t{
    margin-left : 11px;
  }

  .popup .tabs .icon3{
    width : 45px;
    height : 42px;
  }

  .popup .tabs .icon4{
    width : 22px;
    height : 22px;
  }

  .popup .tabs p{
    font-size: 14px;
    color: #000000;
    margin : 0;
  }

  .popup .close {
    position: absolute;
    left : 75px;
    bottom : 5px;
    transition: all 100ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding : 0 9px;
    filter : drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    border : 3px solid #00000000;
  }
  .popup .close:hover {
    color: #000000;
    border : 3px solid #000000;
    border-radius: 50px;
  }
  .popup .content {
    max-height: 30%;
    overflow: hidden;
  }

.dropdown {
    padding : 0px 10px;
    color : black;
    position: relative;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .dropdown * {
    box-sizing: border-box;
  }
  
  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: 0.3s;
    border: 2pt solid #ffffff00;
    gap : 5px;
  }
  
  .select-clicked {
    border: 2pt solid #a9a9a9;
  }
  
  .select:hover {
    border: 2pt solid #ffffff;
    box-shadow: 0 0 2em #ffffff2b;
  }
  
  .menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #1e1e1ee1;
    box-shadow: 0 0.5em 1em #000000;
    border-radius: 2em;
    color: #ffffff;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }
  
  .menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
  }
  
  .menu li:hover {
    background: rgba(255, 255, 255, 0.747);
    color: rgb(0, 0, 0);
  }
  
  .dragdown-active {
    background: rgba(0, 255, 238, 0.747);
    color: rgb(0, 0, 0);
  }
  
  .menu-open {
    display: block;
    opacity: 1;
  }


.loginPage{
  display: flex;
  flex-direction: row;
  gap: 10vw;
}


.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    /* background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    margin-top: 5vw;
    margin-left: 20vw;
    gap: 2vw;
}

.wrapper.active{
  height: 520px;
}

.wrapper.form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);

}

.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.form-box h2{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: -10vh;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0
}

.input-box h5{
    position: absolute;
    /* top: 50%; */
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

/* .input-box input:focus{
  outline: 0;
} */

.input-box.success input{
  border-bottom: 2px solid chartreuse;
}

.input-box.error input{
  border-bottom: 2px solid crimson;
}

.input-box .error{
  color: crimson;
  font-size: 12px;
  height: 13px;
  margin-top: 2px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #FF9B84;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    color: #4C241D;
    font-weight: 500;
}

.btn:hover{
  color: #FF9B84;
  background: #4C241D;
  transition: ease-in-out 0.3s;
}

.login-register{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration:underline;
}

.agree{
  text-align: center;
  margin-top: 2vh;
}

.terms{
  font-weight: 550;
  color: black;
}

.anotherWay{
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.anotherWay button{
  width: 25vw;
  border-radius: 50px;
  background-color: #FFC3B5;
  color: #4C241D;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .5); */
  padding-bottom: 0.7vh;
}

#btnLogo{
  margin-right: 2vw;
  width: 2vw;
  margin-bottom: -1vh;
}

#btnLogo1{
  margin-right: 2vw;
  width: 2vw;
  margin-bottom: -1vh;
  margin-left: 1vw;
}